<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Click the below activation link to get started.</p>
        <a href="/activate-account/<%= token %>" id="link"><%= token %></a>
    </div>
    <script>
        function expireLink()
        {
            let link = document.getElementById('link');
            link.onclick = function(event){
                event.preventDefault();
                alert('Link Expires');
            }
        }
        setTimeout(expireLink , 360000);
    </script>
</body>
</html>