<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here is your forgot password link!</h1>
    <p>Click the below password reset link to set a new password.</p>
    
    <a href="/reset-password/<%= token %>" id="link"><%= token %></a>
    <script>
         function expireLink()
        {
            let link = document.getElementById('link');
            link.onclick = function(event){
                event.preventDefault();
                alert('Link Expires');
            }
        }
        setTimeout(expireLink , 6000);
    </script>
</body>
</html>