<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th{
            width: 60%;
            height: 40px;
            border: 1px solid black;
            background-color: gray;
        }
        td{
            width: 60%;
            height: 20px;
            border: 1px solid black;
        }
    </style>
</head>
<body><center>
    <h1>ALL TASKS</h1>
     <table>
        <tr>
            <th>TASK NAME</th>
            <th>SHOW</th>
        </tr>
        <tr>
            <td>
                All Js Events in a table.
            </td>
            <td>
                <a href="/task1">Task 1</a>
            </td>
        </tr>
        <tr>
            <td>
                Dynamically Adding Row and Column.
            </td>
            <td>
                <a href="/task2">Task 2</a>
            </td>
        </tr>  
        <tr>
            <td>
                Ku Ku Kube
            </td>
            <td>
                <a href="/task3">Task 3</a>
            </td>
        </tr> 
        <tr>
            <td>
                Tic Tac Toe
            </td>
            <td>
                <a href="/task4">Task 4</a>
            </td>
        </tr>
        <tr>
            <td>
                Ehya Website
            </td>
            <td>
                <a href="/task5">Task 5</a>
            </td>
        </tr>
        <tr>
            <td>
                Website Awan Hoster
            </td>
            <td>
                <a href="/task6">Task 6</a>
            </td>
        </tr>   
        <tr>
            <td>
                Website Hirex.
            </td>
            <td>
                <a href="/task7">Task 7</a>
            </td>
        </tr>    
        <tr>
            <td>
                Pagination and Sorting
            </td>
            <td>
                <a href="/task8">Task 8</a>
            </td>
        </tr> 
        <tr>
            <td>
                Attendance Report
            </td>
            <td>
                <a href="/task9">Task 9</a>
            </td>
        </tr>
        <tr>
            <td>
                Exam Result
            </td>
            <td>
                <a href="/task10">Task 10</a>
            </td>
        </tr>
    </table>
    </center>
</body>
</html>