<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/task7_hirex.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <section class="section1">
        <div class="container1">
            <header class="header">
                <div class="row1">
                    <div class="logo">
                        <img src="/css/images/web3/HireX_black.png" alt="">
                    </div>
                        <div class="menus">                      
                                <div class="men1">
                                    <a id="menn1" href="">Works</a>
                                </div>
                                <div class="men2">
                                    <a id="menn2" href="">About us</a>
                                </div>
                                <div class="men3">
                                    <a id="menn3" href="">Blogs</a>
                                </div>
                                <div class="men4">
                                    <a id="menn4" href="">FAQs</a>
                                </div>
                                <div class="men5">
                                    <a id="menn5" href="">Contact us</a>
                                </div>
                                <div class="men6">
                                    <a id="menn6" href="">
                                        We're Hiring
                                        <img id="arrRB" src="/css/images/web3/arrow-right-black.svg" height="15px">
                                    </a>
                                </div>
                        </div>
                    </div>
                </header>
                <div class="row2">
                    <div class="row2col">
                        <div class="wel">
                            <div class="come">WELCOME TO HIREX.</div>
                            <div class="comeImg">
                                <img src="/css/images/web3/Star 1.png" alt="">
                            </div>
                        </div>
                        <div class="win">
                            <h1>Award Winning Digital Agency.</h1>
                        </div>
                        <div class="agency">
                            Digital Agency offering unique solutions to create digital 
                            presence and increase your sales.
                        </div>
                        <div class="req">
                            <div class="">
                                <input class="mail" type="text" placeholder="Your email address">
                                <span class="tooltipTxt">Open account and get 5 boxes</span>
                            </div>
                            <div class="butt">
                                <button id="butt">Request access</button>
                            </div>
                        </div>
                    </div>
                    <div class="row2col">
                        <div class="design">
                            <div class="des1">
                                <div class="cir">
                                    <img  src="/css/images/web3/image 2 (Traced).png" alt="">
                                </div>
                                <div class="logoo">
                                    Web Design
                                </div>
                            </div>
                            <div class="des2">
                                <div class="thums">
                                    <img src="/css/images/web3/image 6 (Traced).png" alt="">
                                </div>
                                <div class="logoo">
                                    Social Media
                                </div>
                            </div>
                            <div class="des3">
                                <div class="light">
                                    <img src="/css/images/web3/image 1 (Traced).png" alt="">
                                </div>
                                <div class="logoo1">
                                    UIX Design
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>

    <section class="section2">
        <div class="container2">
            <marquee behavior="scroll" direction="left">
           <div class="row3">
                <div class="access">
                    <div class="get">GET ACCESS NOW!</div>
                    <div class="boy">
                        <img src="/css/images/web3/image-fBLQvAFN1-transformed 1.png" height="75px">
                    </div>
                    <div class="line">
                        <img src="/css/images/web3/Line 4.png" height="50px">
                    </div>
                </div>
                <div class="access">
                    <div class="get">GET ACCESS NOW!</div>
                    <div class="boy">
                        <img src="/css/images/web3/image-fBLQvAFN1-transformed 1.png" height="75px">
                    </div>
                    <div class="line">
                        <img src="/css/images/web3/Line 4.png" height="40px">
                    </div>
                </div>
                <div class="access">
                    <div class="get">GET ACCESS NOW!</div>
                    <div class="boy">
                        <img src="/css/images/web3/image-fBLQvAFN1-transformed 1.png" height="75px">
                    </div>
                    <div class="line">
                        <img src="/css/images/web3/Line 4.png" height="50px">
                    </div>
                </div>
                <div class="access">
                    <div class="get">GET ACCESS NOW!</div>
                    <div class="boy">
                        <img src="/css/images/web3/image-fBLQvAFN1-transformed 1.png" height="75px">
                    </div>
                    <div class="line">
                        <img src="/css/images/web3/Line 4.png" height="40px">
                    </div>
                </div>
                <div class="access">
                    <div class="get">GET ACCESS NOW!</div>
                    <div class="boy">
                        <img src="/css/images/web3/image-fBLQvAFN1-transformed 1.png" height="75px">
                    </div>
                    <div class="line">
                        <img src="/css/images/web3/Line 4.png" height="40px">
                    </div>
                </div>
           </div> 
        </marquee>
        </div>
    </section>

    <section class="section3">
        <div class="container3">
            <div class="work">
                <div class="services">
                    <button id="services">Services</button>
                </div>
                <div class="how">
                    How Hirex. Work
                </div>
                <div class="awesome">
                    The awesome people who makes all this possible
                </div>
            </div>
            <div class="row4">
                <div class="row4Col">
                    <div class="card">
                        <div class="start">
                            START HERE
                        </div>
                        <div class="we">
                            Who we are & what we do
                        </div>
                        <div class="study">
                            <img src="/css/images/web3/Designer _Flatline 1.png" height="280px">
                        </div>
                        <div class="go1">
                            <button id="go1">START HERE</button>
                        </div>
                    </div>
                </div>
                <div class="row4Col">
                    <div class="card">
                        <div class="start">
                            CUSTOM DESIGN
                        </div>
                        <div class="we">
                            We'll design your projects 
                        </div>
                        <div class="study">
                            <img src="/css/images/web3/Notifications_Flatline 1.png" height="280px">
                        </div>
                        <div class="go1">
                            <button id="go2">START HERE</button>
                        </div>
                    </div>
                </div>
                <div class="row4Col">
                    <div class="card">
                        <div class="start">
                            CONTACT US
                        </div>
                        <div class="we">
                            Drop us your message!
                        </div>
                        <div class="study">
                            <img src="/css/images/web3/Fortnite_Two Color 1.png" height="280px">
                        </div>
                        <div class="go1">
                            <button id="go3">START HERE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section4">
        <div class="container4">
            <div class="work2">
            <div class="work">
                <div class="services2">
                    <button id="services2">Works</button>
                </div>
                <div class="how">
                    Find our latest works 
                </div>
                <div class="awesome">
                    The awesome people who makes all this possible
                </div>
            </div> 
        </div> 
        <div class="row5">
            <div class="row5Col">
                <div class="func">
                    <img src="/css/images/web3/Rectangle 13.png" height="450px">
                </div>
                <div class="services3">
                    <button id="services3">Web design</button>
                </div>
                <div class="web">Website Design For Digital Agency</div>
                <div class="unique">
                    Build a unique Website with HireX Template 
                </div>
                <div class="more">
                    <a href="">Read more</a>
                </div>
            </div>
            <div class="row5Col">
                <div class="func2">
                   <img src="/css/images/web3/Rectangle 13-1.png" height="320px"> 
                </div>
                <div class="services3">
                    <button id="services3">3D design</button>
                </div>
                <div class="web">Realistic 3D Model of Living Room</div>
                <div class="unique">
                    Build a unique Website with HireX Template 
                </div>
                <div class="more">
                    <a href="">Read more</a>
                </div>
                <div class="go1">
                    <button id="goo">View All</button>
                </div>
            </div>
        </div>          
        </div>
    </section>

    <section class="section5">
        <div class="container5">
                <div class="work">
                    <div class="how">
                        Plans & Pricing 
                    </div>
                    <div class="awesome">
                        The awesome people who makes all this possible
                    </div>
                </div>  
                <div class="row6">
                    <div class="row6Col">
                        <div class="card2">
                            <div class="free">FREE</div>
                            <div class="month">
                                <div class="dol">$0 </div>
                                <div class="rupee"> / MONTH</div>
                            </div>
                            <div class="start">
                                Start free while you learn more about our services
                            </div>
                            <div class="hr">
                                <hr>
                            </div>
                            <div class="benefits1">
                                <div class="tick">
                                    <i class="fa-solid fa-check fa-lg" style="color: #000000;"></i>
                                </div>
                                <div class="tickTxt">
                                   Free forever get the basic essentials 
                                </div>
                            </div>
                            <div class="benefits1">
                                <div class="tick">
                                    <i class="fa-solid fa-check fa-lg" style="color: #000000;"></i>
                                </div>
                                <div class="tickTxt">
                                   Advanced security and performance 
                                </div>
                            </div>
                            <div class="benefits1">
                                <div class="tick">
                                    <i class="fa-solid fa-check fa-lg" style="color: #000000;"></i>
                                </div>
                                <div class="tickTxt">
                                   Unlimited unhosted sites
                                </div>
                            </div>
                            <div class="benefits1">
                                <div class="tick">
                                    <i class="fa-solid fa-check fa-lg" style="color: #000000;"></i>
                                </div>
                                <div class="tickTxt">
                                   Live support 
                                </div>
                            </div>
                            <div class="butGo">
                                <button id="butGo">GET STARTED</button>
                            </div>
                        </div>
                    </div>
                    <div class="row6Col">
                        <div class="card2">
                            <div class="free">BASIC</div>
                            <div class="month">
                                <div class="dol">$19 </div>
                                <div class="rupee"> /MONTH</div>
                            </div>
                            <div class="start">
                               Get powerful tools to make your business grow
                            </div>
                            <div class="hr">
                                <hr>
                            </div>
                            <div class="benefits1">
                                <div class="tick">
                                    <i class="fa-solid fa-check fa-lg" style="color: #000000;"></i>
                                </div>
                                <div class="tickTxt">
                                   Free forever get the basic essentials 
                                </div>
                            </div>
                            <div class="benefits1">
                                <div class="tick">
                                    <i class="fa-solid fa-check fa-lg" style="color: #000000;"></i>
                                </div>
                                <div class="tickTxt">
                                   Advanced security and performance 
                                </div>
                            </div>
                            <div class="benefits1">
                                <div class="tick">
                                    <i class="fa-solid fa-check fa-lg" style="color: #000000;"></i>
                                </div>
                                <div class="tickTxt">
                                   Unlimited unhosted sites
                                </div>
                            </div>
                            <div class="benefits1">
                                <div class="tick">
                                    <i class="fa-solid fa-check fa-lg" style="color: #000000;"></i>
                                </div>
                                <div class="tickTxt">
                                   Live support 
                                </div>
                            </div>
                            <div class="butGo">
                                <button id="butGo">GET STARTED</button>
                            </div>
                        </div>
                    </div>
                    <div class="row6Col">
                        <div class="card2">
                            <div class="free">PRO</div>
                            <div class="month">
                                <div class="dol">$99 </div>
                                <div class="rupee"> /MONTH</div>
                            </div>
                            <div class="start">
                                Take your business to the next level with our tools
                            </div>
                            <div class="hr">
                                <hr>
                            </div>
                            <div class="benefits1">
                                <div class="tick">
                                    <i class="fa-solid fa-check fa-lg" style="color: #000000;"></i>
                                </div>
                                <div class="tickTxt">
                                   Free forever get the basic essentials 
                                </div>
                            </div>
                            <div class="benefits1">
                                <div class="tick">
                                    <i class="fa-solid fa-check fa-lg" style="color: #000000;"></i>
                                </div>
                                <div class="tickTxt">
                                   Advanced security and performance 
                                </div>
                            </div>
                            <div class="benefits1">
                                <div class="tick">
                                    <i class="fa-solid fa-check fa-lg" style="color: #000000;"></i>
                                </div>
                                <div class="tickTxt">
                                   Unlimited unhosted sites
                                </div>
                            </div>
                            <div class="benefits1">
                                <div class="tick">
                                    <i class="fa-solid fa-check fa-lg" style="color: #000000;"></i>
                                </div>
                                <div class="tickTxt">
                                   Live support 
                                </div>
                            </div>
                            <div class="butGo">
                                <button id="butGo">GET STARTED</button>
                            </div>
                        </div>
                    </div>
                </div> 
        </div>
    </section>

    <section class="section6">
        <div class="container6">
            <div class="row7">
                <div class="row7Col">
                    <div class="store">
                        <div class="ar">
                            <img src="/css/images/web3/arrow-left-2.png" height="30px">
                        </div>
                        <div class="blue1">        
                            <img class="blue" src="/css/images/web3/testimonials-img.png" height="500px">
                            <button id="orange">
                                <p id="mase">@mase.place</p>
                                <div class="inCir"></div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row7Col">
                    <div class="blueTxt1">
                        "We select to practice in Minerva
                        it is both useful, and our clients basically
                        adore it! It has stood the test of time and 
                        proceeds"
                    </div>
                    <div class="blueTxt2">
                        Abel Carden is a TikTok personality
                        and lip-sync content creator who has 
                        built a fanbase of more than 3.2 million 
                        followers on the platform.
                    </div>
                    <div class="ar3">
                        <img src="/css/images/web3/arrow-right-2.png" height="30px">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section7">
        <div class="container7">
            <div class="working">
                <div class="services">
                    <button id="bb">Blog</button>
                </div>
                <div class="howw">
                    Stay Updated
                </div>
            </div>
            <div class="row8">
                <div class="row8Col">
                    <div class="func">
                        <img src="/css/images/web3/Rectangle 19.png" height="340px">
                    </div>
                    <div class="services3">
                        <button id="services3">Web design</button>
                    </div>
                    <div class="web">We launch Minerva Template this Week!</div>
                    <div class="unique">
                        Build a unique Website with HireX Template 
                    </div>
                    <div class="more">
                        <a href="">Read more</a>
                    </div>
                </div>
                <div class="row8Col">
                    <div class="func2">
                       <img src="/css/images/web3/Rectangle 20.png" height="340px"> 
                    </div>
                    <div class="services3">
                        <button id="services3">Web design</button>
                    </div>
                    <div class="web">Introducing the Non-Code Webflow Guide</div>
                    <div class="unique">
                        Build a unique Website with HireX Template 
                    </div>
                    <div class="more">
                        <a href="">Read more</a>
                    </div>
                </div>
            </div> 
        </div>
    </section>

    <section class="section8">
        <div class="container8">
            <div class="row9">
                <div class="row9Col">
                    <div class="news">
                        Get our latest news & updates
                    </div>
                    <form class="form" action="">
                        <div class="name"><input class="maill" type="text" value="NAME"></div>
                        <div class=""><input class="maill" type="text" value="EMAIL"></div>
                        <div class="subs"><input class="maill" type="text" value="SUBSCRIBE"></div>
                        
                    </form>
                </div>
                <div class="row9Col">
                    <div class="sel">
                        We select to practice in Minerva since it is both
                        useful and commonsense, and our clients basically 
                        adore it
                    </div>
                    <div class="serv">
                        <button id="serv">Book a Call</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section9">
        <div class="container9">
            <marquee behavior="scroll" direction="left">
           <div class="row3">
                <div class="access">
                    <div class="get">THANK YOU FOR YOUR VISIT</div>
                    <div class="line">
                        <img src="/css/images/web3/Line 4.png" height="50px">
                    </div>
                </div>
                <div class="access">
                    <div class="get">THANK YOU FOR YOUR VISIT</div>
                    <div class="line">
                        <img src="/css/images/web3/Group 59.png" height="40px">
                    </div>
                </div>
                <div class="access">
                    <div class="get">THANK YOU FOR YOUR VISIT</div>
                    <div class="line">
                        <img src="/css/images/web3/Line 4.png" height="50px">
                    </div>
                </div>
                <div class="access">
                    <div class="get">THANK YOU FOR YOUR VISIT</div>
                    <div class="line">
                        <img src="/css/images/web3/Group 59.png" height="40px">
                    </div>
                </div>
                <!-- <div class="access">
                    <div class="get">THANK YOU FOR YOUR VISIT</div>
                    <div class="line">
                        <img src="sir_folder3/assets/Line 4.png" height="50px">
                    </div>
                </div> -->
           </div> 
        </marquee>
        </div>
    </section>
    
    <section class="section10">
        <div class="container10">
            <footer class="footer">
                <div class="footLog">
                    <img src="/css/images/web3/HireX_black.png" height="25px">
                </div>
                <div class="holine">
                  <hr>  
                </div>
                <div class="row10">
                    <div class="row10Col">
                        <div class="inCol">
                            <div class="pro">Products</div>
                            <div class="plat">
                                <div>Platform</div>
                                <div>Store Overview</div>
                                <div>Email Reports</div>
                                <div>Portfolio</div>
                            </div>
                        </div>
                    </div>
                    <div class="row10Col">
                        <div class="inCol">
                            <div class="pro">Resources</div>
                            <div class="plat">
                                <div>Case Studies</div>
                                <div>Product Guides</div>
                                <div>Reports</div>
                                <div>Blog</div>
                                <div>FAQ</div>
                            </div>
                        </div>
                    </div>
                    <div class="row10Col">
                        <div class="inCol">
                            <div class="pro">Company</div>
                            <div class="plat">
                                <div>Careers</div>
                                <div>Contact Sales</div>
                                <div>Contact Support</div>
                            </div>
                        </div>
                    </div>
                    <div class="row10Col">
                        <div class="inCol">
                            <div class="pro">Partners</div>
                            <div class="plat">
                                <div>Partner With Us</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row11">
                    <div class="terms">Terms and Conditions  Privacy Policy</div>
                    <div class="at">@HIREX,Inc. 2022</div>
                </div>
            </footer>
        </div>
    </section>
</body>
</html>