<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/task5_ehya.css">
</head>
<body>
    <section class="section1">
        <div class="container1">
            <header>
                <div class="header"> 
                    <div class="logo">
                        <a href=""><img src="/css/images/web1/Logo_white.svg"></a>
                    </div>                                   
                    
                                  <ul>
                                    <div class="menus">
                                    <li>
                                        <a href="">Home</a>
                                    </li>
                                    <li>
                                        <select class="sel">
                                            <a href=""><option>Landings</option></a>
                                            <a href=""><option>Landings2</option></a>
                                            <a href=""><option>Landings3</option></a>
                                        </select>
                                    </li>
                                    <li>
                                        <select class="sel">
                                            <a href=""><option>Pages</option></a>
                                            <a href=""><option>Pages2</option></a>
                                            <a href=""><option>Pages3</option></a>
                                        </select>
                                    </li>
                                    <li>
                                        <a href="">Docs</a>
                                    </li>
                                    <li>
                                        <a href="">Help</a>
                                    </li>
                                    <li>
                                        <a href="">Get it now</a>
                                    </li>
                                    </div>
                               </ul>     
                    </div>
                    </header>
                    <div class="rrow">
                        <div class="coll1">
                            <img src="/css/images/web1/Hero.png" height="480px">
                        </div>
                        <div class="coll1">
                            <h2 class="make">Make your new life happier.</h2>
                            <p id="do">We work with several leading insurance companies to
                            secure insurance coverages tailored to meet your needs.</p>
                                <button class="consult">Get a consultation</button>
                        </div>
                    </div>
                </div>
            </section>  
            
    <section class="section2">
        <div class="container2">
            <div class="title2">
                <p id="service">OUR SERVICES</p>
                <h3 id="insurance">Insurance made simple for you</h3>
                <p id="we">We work with several leading insurance companies to secure insurance
                coverages tailored to meet your needs.</p>
            </div>
            <div class="benefits">
                <p>Flexible products to make your life easier</p>
                <p>Highest standards of service</p>
                <p>Fast and reliable service</p>
            </div>
            <div class="roww">
                <div class="coll">
                    <img id="insurImg" src="/css/images/web1/Icon_Home.svg">
                    <div>
                        <div class="tt1">Home Insurance</div>
                        <p class="homee">Home insurance is a type of
                            insurance policy that provides 
                            cover for your home.</p>
                        <div class="learn">Learn more -></div>
                    </div>
                </div>
                <div class="coll">
                    <img id="insurImg" src="/css/images/web1/Icon_Blood_Donation.svg">
                    <div>
                        <div class="tt1">Life Insurance</div>
                        <p class="homee">Helping you bridge gaps in your
                            health care coverage during 
                            times of transition.</p>
                        <div class="learn">Learn more -></div>
                    </div>    
                </div>
                <div class="coll">
                    <img id="insurImg" src="/css/images/web1/Icon_Car.svg">
                    <div>
                        <div class="tt1">Car Insurance</div>
                        <p class="homee">Car insurance is a type of
                            insurance policy that provides 
                            cover for your car.</p>
                        <div class="learn">Learn more -></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section3">
        <div class="container3">
            <div class="title2">
                <p id="service">OUR TIPS FOR YOU</p>
                <h2 id="insurance">Reinventing your protection</h2>
                <p id="we">We share common trends, strategies ideas, opinions, short & long
                    stories from the team behind company.</p>
            </div>
            <div class="roww3">
                <div class="coll3 colll">
                    <h3 class="hh">How to prevent and protect
                        your family from Carbon<br>
                        monoxide</h3>
                </div>
                <div class="coll4 colll">
                    <h3 class="hh">Motherhood is the hardest
                        and the best job ever </h3>
                </div>
            </div>
        </div>
        </section>


        <section class="section4">
            <div class="container4">
                <div class="row">
                    <div class="col">
                        <div class="again">
                            <div id="your">YOUR BENEFITS</div>
                            <div class="mine">We're your right 
                                insurance advocate</div>
                        </div>
                    </div>
                
                    <div class="col">
                        <div class="img11">
                            <img id="insurImg" src="/css/images/web1/Donation.svg">
                        </div>
                        <div>
                            <div class="tt1">We have the best prices</div>
                            <p class="homee">Our insurance plans offers are priced
                                the same everwhere else. We just make
                                them easier for you to find.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="img12">
                            <img id="insurImg" src="/css/images/web1/Icon_Protection.svg">
                        </div>                      
                        <div>
                            <div class="tt1">We're your insurance advocate</div>
                            <p class="homee">We will deal with the insurance
                                companies for you, even after you've 
                                bought your plan.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="img13">
                            <img id="insurImg" src="/css/images/web1/Icon_Neutron.svg">
                        </div>                        
                        <div>
                            <div class="tt1">We have the best prices</div>
                            <p class="homee">Our insurance plans offers are priced
                                the same everwhere else. We just make
                                them easier for you to find.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="img14">
                            <img id="insurImg" src="/css/images/web1/Icon_CS.svg">
                        </div>
                        <div>
                            <div class="tt1">We're your insurance advocate</div>
                            <p class="homee">We will deal with the insurance
                                companies for you, even after you've 
                                bought your plan.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="img15">
                            <img id="insurImg" src="/css/images/web1/Icon_Like.svg">
                        </div>
                        <div>
                            <div class="tt1">We're your insurance advocate</div>
                            <p class="homee">We will deal with the insurance
                                companies for you, even after you've 
                                bought your plan.</p>
                        </div>
                    </div>
            </div>
        </div>
        </section>
        <hr id="line" width="1100px">

        <section class="section5">
            <div class="container5">
                <div class="row5">
                    <div class="col1">
                        <div class="lastImg">
                            <div class="av">
                                <img src="/css/images/web1/Avatar-2.png" height="40px">
                            </div>
                            <div class="av">
                                <img src="/css/images/web1/Avatar-1.png" height="40px">
                            </div>
                            <div class="av">
                                <img src="/css/images/web1/Avatar.png" height="40px">
                            </div>
                        </div>
                        <div class="line2"><b>Friendly</b> customer support team</div>
                    </div>
                    <div class="col1">
                        <div class="star">
                            <img src="/css/images/web1/Path.svg">Trustpilot
                        </div>
                        <div class="star5">
                            <img src="/css/images/web1/s.svg" height="18px">
                            <img src="/css/images/web1/s.svg" height="18px">
                            <img src="/css/images/web1/s.svg" height="18px">
                            <img src="/css/images/web1/s.svg" height="18px">
                            <img src="/css/images/web1/s.svg" height="18px">
                        </div>
                        <div class="txt">
                            <b>4.6 out of 5 stars </b>from 8.6k
                                reviews
                        </div>
                    </div>
                    <div class="col1">
                        <div class="up">
                            <img id="up" src="/css/images/web1/Icon_Like.svg" height="50px">
                        </div>
                        <div class="simple">
                        We're making <b>insurance as 
                            simple as </b>can be
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
    <footer class="footer">
        <div class="section6">
            <div class="container6">
                <div class="row3">
                    <div class="col2">
                        <img id="log" src="/css/images/web1/Logo_white.svg" height="">
                        <div class="build">
                            Build a modern and creative <br>
                            website with crealand
                        </div>
                    
                    </div>
                    <div class="col2">
                        <div class="ready">
                            <h3>Ready to get insured? Submit your request and <br>
                                hear back as soon as tomorrow</h3>
                        </div>
                        <div class="butt">
                            <div class="type">
                                <input type="text" placeholder="  Your Email">
                            </div>
                            <div class="push">
                                <button id="button1">Get started</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>