<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/task6_awan.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    
        <section class="section1">
            <div class="container1">
                <header class="header">
                <div class="row1">
                    <div class="logo">
                        <!-- <img src="sir_folder2/logo-white.png"> -->
                        <h1>Awan Hoster</h1>
                    </div>
                    <ul>
                        <div class="menus">                      
                                <li>
                                    <a href="">Hosting</a>
                                </li>
                                <li>
                                    <a href="">Integration</a>
                                </li>
                                <li>
                                    <a href="">Pricing</a>
                                </li>
                                <li>
                                    <a href="">Community</a>
                                </li>
                                <li>
                                    <a href="">Login</a>
                                </li>
                        </div>
                    </ul>
                </div>
                </header>
                <hr>
                <div class="row2">
                    <div class="col1">
                        <div class="title">
                            Hosting Services for Your Website
                        </div>
                        <div class="desc">
                            Easily and reliably host a website for your business,
                            organization, or project while retaining complete control
                            over your site's underlying infrastructure.
                        </div>
                        <div class="butts">
                            <div class="butts1">
                                <button id="butts1">Get Started</button>
                            </div>
                            <div class="butts2">
                                <button id="butts2">Get Migration Help</button>
                            </div>
                        </div>
                        <div class="arrow1">
                            <img src="/css/images/web2/arrow-down.png" height="50px">
                        </div>
                    </div>
                    <div class="col1">
                        <img src="/css/images/web2/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="section2">
            <div class="container2">
                <div class="row2">
                        <div class="txt1">
                            <p id="those">Those Who Have Experienced The Best Performance</p>
                         </div>   
                        <div class="img1">
                            <img src="/css/images/web2/Telkom Indonesia Logo.png" height="150px">
                        </div>
                        <div class="img2">
                            <img src="/css/images/web2/Jetstar Airways Logo.png" height="60px">
                        </div>
                        <div class="img2">
                            <img src="/css/images/web2/Nescafe Logo.png" height="50px">
                        </div>
                        <div class="img4">
                            <img src="/css/images/web2/Lenovo Logo.png">
                        </div>
                </div>
                <div class="row3">
                    <div class="col3">
                        <img src="/css/images/web2/Group 3552.png" width="700px">
                    </div>
                    <div class="col3">
                        <div class="boost">
                            Boost the Speed of Your Website
                        </div>
                        <div class="faster">
                            <div class="fasterIn">Faster Build Process
                                <div class="inIn">
                                    We can speed up the process of creating your website
                                </div>    
                            </div>
                            <div class="fasterIn">Faster Delivery
                                <div class="inIn">
                                    Our purchases and services can be completed quickly
                                </div> 
                            </div>
                            <div class="fasterIn">Faster Access Speed
                                <div class="inIn">
                                    Superb network infrastructure and hardware to support
                                    fast and stable access
                                </div> 
                            </div>
                            <div class="fasterIn">24/7 Faster Service
                                <div class="inIn">
                                    We have a response time of less than 180 seconds, 
                                    available 24 hours a day
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section3">
            <div class="container3">
                <div class="row4">
                    <div class="inRow1">
                        <h4>Host Any Website With Our Fully Managed Services</h4>
                    </div>
                    <div class="inRow2">
                        <div class="col4">
                            <div class="card">
                                <div class="inCloud">
                                    <div class="cloud">
                                        <img src="/css/images/web2/cloud-sunny.png" height="40px">
                                    </div>
                                    <div class="txtCld">
                                        Cloud hosting
                                    </div>
                                </div>
                                <div class="good">
                                    Cloud Hosting is a good fit for those of you who are 
                                    building personal websites, portfolios, blogs, 
                                    and other systems 
                                </div>
                            </div>
                            <div class="dollar">
                                <h2 id="dollar">$5.9/month</h2>
                            </div>
                            <div class="detail">
                                <button id="butts3">More Detail</button>
                            </div>
                        </div>
                        <div class="col4">
                            <div class="card">
                                <div class="inCloud">
                                    <div class="cloud">
                                        <img src="/css/images/web2/buildings.png" height="40px">
                                    </div>
                                    <div class="txtCld">
                                        Corporate
                                    </div>
                                </div>
                                <div class="good">
                                    Cloud Hosting is a good fit for those of you who are 
                                    building personal websites, portfolios, blogs, 
                                    and other systems 
                                </div>
                            </div>
                            <div class="dollar">
                                <h2 id="dollar">$19/month</h2>
                            </div>
                            <div class="detail">
                                <button id="butts3">More Detail</button>
                            </div>
                        </div>
                        <div class="col4">
                            <div class="card">
                                <div class="inCloud">
                                    <div class="cloud">
                                        <img src="/css/images/web2/driver.png" height="40px">
                                    </div>
                                    <div class="txtCld">
                                        Cloud VPS
                                    </div>
                                </div>
                                <div class="good">
                                    Cloud Hosting is a good fit for those of you who are 
                                    building personal websites, portfolios, blogs, 
                                    and other systems 
                                </div>
                            </div>
                            <div class="dollar">
                                <h2 id="dollar">$29/month</h2>
                            </div>
                            <div class="detail">
                                <button id="butts3">More Detail</button>
                            </div>
                        </div>
                        <div class="col4">
                            <div class="card">
                                <div class="inCloud">
                                    <div class="cloud">
                                        <img src="/css/images/web2/monitor-mobbile.png" height="40px">
                                    </div>
                                    <div class="txtCld">
                                        Dedicated
                                    </div>
                                </div>
                                <div class="good">
                                    Cloud Hosting is a good fit for those of you who are 
                                    building personal websites, portfolios, blogs, 
                                    and other systems 
                                </div>
                            </div>
                            <div class="dollar">
                                <h2 id="dollar">$119/month</h2>
                            </div>
                            <div class="detail">
                                <button id="butts3">More Detail</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section4">
            <div class="container4">
                <div class="row5">
                    <div class="col5">
                       <div class="frameworks">
                        <div class="frame1">
                            <div class="log">
                                <img src="/css/images/web2/WordPress.com Logo.png" height="60px">
                            </div>
                            <div class="logTxt">
                                Wordpress
                            </div>
                        </div>
                        <div class="frame1">
                            <div class="log">
                                <i class="fa-brands fa-magento fa-4x" style="color: #6a88b6;"></i>
                            </div>
                            <div class="logTxt">
                                Magento
                            </div>
                        </div>
                        <div class="frame1">
                            <div class="log">
                                <i class="fa-brands fa-laravel fa-4x" style="color: #6a88b6;"></i>
                            </div>
                            <div class="logTxt">
                                Laravel
                            </div>
                        </div>
                        <div class="frame1">
                            <div class="log">
                                <i class="fa-brands fa-php fa-4x" style="color: #6a88b6;"></i>
                            </div>
                            <div class="logTxt">
                                PHP
                            </div>
                        </div>
                       </div> 
                    </div>
                    <div class="col5">
                        <div class="managed">
                            <h3>The Best Managed Cloud Hosting for WordPress</h3>
                        </div>
                        <div class="live">
                            We live and breathe WordPress. Out managed hosting for WordPress 
                            and WooCommerce takes away cloud server related hassles so you 
                            can scale your website the way you want. 
                        </div>
                        <div class="tick">
                            <div class="tick1">
                                <div class="tickImg">
                                    <img src="/css/images/web2/Vector.png" height="25px">
                                </div>
                                <div class="tickTxt">
                                    Unlimited Bandwidth
                                </div>
                            </div>
                            <div class="tick1">
                                <div class="tickImg">
                                    <img src="/css/images/web2/Vector.png" height="25px">
                                </div>
                                <div class="tickTxt">
                                    Network Speed
                                </div>
                            </div>
                            <div class="tick1">
                                <div class="tickImg">
                                    <img src="/css/images/web2/Vector.png" height="25px">
                                </div>
                                <div class="tickTxt">
                                    Turbo Power
                                </div>
                            </div>
                            <div class="tick1">
                                <div class="tickImg">
                                    <img src="/css/images/web2/Vector.png" height="25px">
                                </div>
                                <div class="tickTxt">
                                    Xtreme Freedom
                                </div>
                            </div>

                        </div>
                        <div class="morr">
                            <button id="morr">More Detail</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section5">
            <div class="container5">
                <div class="row6">
                    <div class="feel">
                        How Our Customers Feel About Us
                    </div>
                    <div class="mainArr">
                        <div class="arr1">
                            <a onclick="leftScroll()">
                                <img src="/css/images/web2/leftarrow.png" height="50px">
                            </a>
                        </div>
                        <div class="arr">
                            <a onclick="rightScroll()">
                                <img src="/css/images/web2/arrow-right.png" height="70px">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row7" id="content">
                    <div class="row7Col">
                        <div class="card2">
                            <div class="profile">
                                <img id="profile" src="/css/images/web2/profile.png" height="90px">
                            </div>
                            <div class="starr">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                            </div>
                            <div class="awan">
                                Thanks to Awan Hoster, I was guided step-by-step 
                                until it was finished 
                            </div>
                            <div class="guy">
                                Guy Hawkins
                            </div>
                            <div class="occu">
                                Manager
                            </div>
                        </div>
                    </div>
                    <div class="row7Col">
                        <div class="card2">
                            <div class="profile">
                                <img id="profile" src="/css/images/web2/profile.png" height="90px">
                            </div>
                            <div class="starr">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                            </div>
                            <div class="awan">
                                Thanks to Awan Hoster, I was guided step-by-step 
                                until it was finished 
                            </div>
                            <div class="guy">
                                Guy Hawkins
                            </div>
                            <div class="occu">
                                Manager
                            </div>
                        </div>
                    </div>
                    <div class="row7Col">
                        <div class="card2">
                            <div class="profile">
                                <img id="profile" src="/css/images/web2/profile.png" height="90px">
                            </div>
                            <div class="starr">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                            </div>
                            <div class="awan">
                                Thanks to Awan Hoster, I was guided step-by-step 
                                until it was finished 
                            </div>
                            <div class="guy">
                                Guy Hawkins
                            </div>
                            <div class="occu">
                                Manager
                            </div>
                        </div>
                    </div>
                    <div class="row7Col">
                        <div class="card2">
                            <div class="profile">
                                <img id="profile" src="/css/images/web2/profile.png" height="90px">
                            </div>
                            <div class="starr">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                            </div>
                            <div class="awan">
                                Thanks to Awan Hoster, I was guided step-by-step 
                                until it was finished 
                            </div>
                            <div class="guy">
                                Guy Hawkins
                            </div>
                            <div class="occu">
                                Manager
                            </div>
                        </div>
                    </div>
                    <div class="row7Col">
                        <div class="card2">
                            <div class="profile">
                                <img id="profile" src="/css/images/web2/profile.png" height="90px">
                            </div>
                            <div class="starr">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                            </div>
                            <div class="awan">
                                Thanks to Awan Hoster, I was guided step-by-step 
                                until it was finished 
                            </div>
                            <div class="guy">
                                Guy Hawkins
                            </div>
                            <div class="occu">
                                Manager
                            </div>
                        </div>
                    </div>
                    <div class="row7Col">
                        <div class="card2">
                            <div class="profile">
                                <img id="profile" src="/css/images/web2/profile.png" height="90px">
                            </div>
                            <div class="starr">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                                <img src="/css/images/web2/Star 2.png" height="20px">
                            </div>
                            <div class="awan">
                                Thanks to Awan Hoster, I was guided step-by-step 
                                until it was finished 
                            </div>
                            <div class="guy">
                                Guy Hawkins
                            </div>
                            <div class="occu">
                                Manager
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section6">
            <div class="container6">
                <div class="row8">
                    <div class="row8Col">
                        <div class="now">
                            Try It Now and Stop Doubting Anything Else 
                        </div>
                        <div class="hoster">
                            With Awan Hoster's Money Back Guarantee, you can try 
                            the best service reliability
                        </div>
                        <div class="buttss">
                            <div class="buttss1">
                                <button id="buttss1">Start Free Trial </button>
                            </div>
                            <div class="buttss2">
                                <button id="buttss2">See All Plans </button>
                            </div>
                        </div>
                    </div>
                    <div class="row8Col">
                        <img src="/css/images/web2/Group 1000008788.png" height="600px">
                    </div>

                </div>
            </div>
        </section>

        <section class="section7">
            <div class="container7">
                <footer class="footer">
                    <div class="row9">
                        <div class="row9Col">
                            <div class="footLog">
                                <div class="footImg">
                                    <img src="/css/images/web2/logo-white.png" height="60px">
                                </div>
                                <div class="prov">
                                    We provide you with the best hosting solutions for your 
                                    website. 
                                </div>
                                <div class="icons">
                                    <i class="fa-brands fa-facebook-f fa-2xl" style="color: #f3f3f3; "></i>
                                    <i class="fa-brands fa-twitter fa-2xl" style="color: #f3f3f3;"></i>
                                    <i class="fa-brands fa-instagram fa-2xl" style="color: #f3f3f3;"></i>
                                    <i class="fa-brands fa-youtube fa-2xl" style="color: #f3f3f3;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row9Col">
                            <div class="fit">
                                <div class="fit1">
                                    <div class="tit">
                                        Company
                                    </div>
                                    <div class="visit">
                                        <div class="abt">About</div>
                                        <div class="abt">Blog</div>
                                        <div class="abt">Leadership</div>
                                        <div class="abt">Careers</div>
                                        <div class="abt">Legal</div>
                                    </div>
                                </div>
                                <div class="fit2">
                                    <div class="tit">
                                        Products
                                    </div>
                                    <div class="visit">
                                        <div class="abt">API</div>
                                        <div class="abt">Pricing</div>
                                        <div class="abt">Documentation</div>
                                        <div class="abt">Release Notes</div>
                                    </div>
                                </div>
                                <div class="fit3">
                                    <div class="tit">
                                        Contact
                                    </div>
                                    <div class="visit">
                                        <div class="abt">Support</div>
                                        <div class="abt">Sales</div>
                                        <div class="abt">Report Abuse</div>
                                        <div class="abt">System Status</div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    </div>
                </footer>
            </div>
        </section>

        <script>
              var scrollImages = document.getElementsByClassName("row7");

            function rightScroll() {
            scrollImages[0].scrollBy({
                left: 200,
                behavior: "smooth"
            });
            }

            function leftScroll() {
            scrollImages[0].scrollBy({
                left: -200,
                behavior: "smooth"
            });
            }
        </script>
</body>
</html>